.main-content {
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}

.mdl-layout__content {
  display: block;
}

.mdl-card {
  margin: 0 auto;
}

.new-button {
  display:block;
  margin: 0 auto;
}

.mdl-grid {
  padding: 0;
}

.final-report {
  margin: 0 auto;
}
