.main-content {
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}

.mdl-layout__content {
  display: block;
}

.mdl-cell {
  margin-top: 0px;
}

.mdl-grid {
  padding: 0px;
}

.new-button {
  display: block;
}

.centered-pane {
  margin: 0 auto;
  margin-top: 8px;
}

.margin-8 {
  margin: 8px;
}

.final-stats-table {
  width: 100%;
}